@use '../global/' as g;
@use 'variable' as l;
// content レイアウト
.l-page-container {
  // outer layout
  display: flex;
  flex-direction: row;
  justify-content: center;
  // inner layout
  padding: 70px l.$page-x-padding;
}

.l-main-container,
.l-sidebar-container {
  border-radius: 3px;
  box-shadow: 0 0 0 5px transparentize(g.$white-weak, $amount: 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.l-main-container {
  width: l.$main-width;
  margin: 0 l.$space-between-main-side 0 0;
}

.l-sidebar-container {
  width: l.$sidebar-width;
}

.l-main-sticky-area,
.l-sidebar-sticky-area {
  position: sticky;
  top: 50px;
  width: 100%;
}

@media screen and (max-width: (l.$main-width + l.$sidebar-width + l.$page-x-padding * 2 + l.$space-between-main-side)) {
  .l-main-container {
    margin: 0;
  }
  .l-sidebar-container {
    display: none;
  }
}

@media screen and (max-width: l.$smartphone-breakpoint) {
  .l-page-container {
    padding: 70px 20px;
  }
}

@media screen and (max-width: l.$main-width) {
  .l-main-container {
    width: 100%;
  }
}
