@use "sass:color";
@use '../global/' as g;
@use 'variable' as l;
// 全体のレイアウト
.l-page-container {
  // outer layout
  display: flex;
  flex-direction: row;
  justify-content: center;
  // inner layout
  padding: 70px l.$page-x-padding;
}

.l-main-wrapper,
.l-sidebar-container {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.l-main-wrapper {
  margin: 0 l.$space-between-main-side 0 0;
}

.l-main-width,
.l-main-wrapper {
  width: l.$main-width;
}

.l-sidebar-width,
.l-sidebar-container {
  width: l.$sidebar-width;
}

.l-main-sticky-area,
.l-sidebar-sticky-area {
  position: sticky;
  top: g.$header-height + 20px;
  width: 100%;
}

// breakpoints & media queries
$-required-2-column-width: l.$sidebar-width + l.$page-x-padding * 2 +
  l.$space-between-main-side;
$-required-1-column-width: l.$page-x-padding * 2 + l.$space-between-main-side;

@media screen and (min-width: l.$main-min-width + $-required-2-column-width) and (max-width: l.$main-width + $-required-2-column-width) {
  // main area の縮小 (2カラムは維持)
  .l-main-width,
  .l-main-wrapper {
    width: calc(100vw - #{$-required-2-column-width});
  }
}

@media screen and (max-width: (l.$main-min-width + $-required-2-column-width)) {
  // 1カラムレイアウトへ
  .l-main-width,
  .l-main-wrapper {
    margin: 0;
    width: l.$main-width;
  }
  .l-sidebar-container {
    display: none;
  }
}

@media screen and (max-width: l.$main-width + 2 * l.$page-x-padding) {
  // 1カラムレイアウト & main area の縮小
  .l-page-container {
    padding: 0;
  }
  .l-main-width,
  .l-main-wrapper {
    width: 100vw;
  }
}
