@use "sass:color";
@use '../global/' as g;
@use 'variable' as l;

.m-remove-a-decoration {
  &,
  &:visited,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.m-page-title {
  font-size: 1.5rem;
  margin: 15px 0;
}

.m-section-title {
  font-size: 1.2rem;
}

.m-card {
  border-radius: 3px;
  margin: 0 0 20px 0;

  // styles
  background: g.$theme-weak-color;
  color: g.$text-color;
  box-shadow: g.$theme-strong-color;
  overflow: hidden;

  &__title {
    padding: 5px;
    background: g.$theme-strong-color;
    color: g.$text-color;
    font-size: 1.1rem;
    font-weight: normal;
    text-align: center;

    svg {
      margin-inline-end: 7px;
    }
  }

  &__content {
    background: g.$theme-weak-color;
    padding: 10px;
  }
}

.m-tag-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.m-tag {
  margin: 5px 3px;
  padding: 4px 12px;
  // style
  border-radius: 15px;
  background-color: g.$black-weak;
  color: g.$white;
  font-size: 0.8rem;
  // animation
  transition: 300ms ease;
}

.m-tag-link {
  &:hover .m-tag {
    color: g.$white;
    background-color: g.$link-color;
  }
}

.m-tag--active {
  background-color: g.$link-color;
}
