@use "sass:color";
@use '../global/' as g;
@use 'variable' as l;

.m-remove-a-decoration {
  &,
  &:visited,
  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

.m-page-title {
  font-size: 2.2rem;
}

.m-section-title {
  font-size: 1.5rem;
}
