@use "../global/" as g;
// 全体のレイアウト
$header-height: 150px;
$footer-height: 150px;
// content レイアウト
$main-width: 800px;
$main-min-width: 600px;
$sidebar-width: 300px;
$page-x-padding: 20px;
$space-between-main-side: 30px;
$smartphone-breakpoint: 500px;
