@use "../global/" as g;
// 全体のレイアウト
$header-height: 150px;
$footer-height: 150px;
// content レイアウト
$main-width: 750px;
$sidebar-width: 350px;
$page-x-padding: 50px;
$space-between-main-side: 40px;
$smartphone-breakpoint: 500px;