@use "../global-styles/global/" as g;

.article-body {
  a {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      z-index: 10;
      background-color: g.$link-color;
      opacity: 0.2;
      transition: 0.2s;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}
