@use "sass:color";
@use "sass:map";
@use "../global-styles/global/" as g;
@use "../global-styles/styles/variable" as l;

.contentContainer {
  padding: 10px 20px;
}

.thumbnail {
  height: 40vh;
  max-height: 400px;
}

.sepLine {
  display: block;
  background-color: g.$black-thin;
  height: 2px;
  border: none;
  margin: 1.2rem 5px;
}

.footerContainer {
  margin: 40px 20px;

  div {
    margin: 10px 0;
  }
}
