@use "sass:color";
@use "variable" as var;
// 全体のレイアウト
.l-page-container {
  // outer layout
  display: flex;
  flex-direction: row;
  justify-content: center;
  // inner layout
  padding: 70px var.$page-x-padding;
}

.l-main-wrapper,
.l-sidebar-container {
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.l-main-wrapper {
  margin: 0 var.$space-between-main-side 0 0;
}

.l-main-width,
.l-main-wrapper {
  width: var.$main-width;
}

.l-sidebar-width,
.l-sidebar-container {
  width: var.$sidebar-width;
}

.l-main-sticky-area,
.l-sidebar-sticky-area {
  position: sticky;
  top: var.$header-height + 20px;
  width: 100%;
}

// breakpoints & media queries
$-required-2-column-width: var.$sidebar-width + var.$page-x-padding * 2 +
  var.$space-between-main-side;
$-required-1-column-width: var.$page-x-padding * 2 +
  var.$space-between-main-side;

@media screen and (min-width: var.$main-min-width + $-required-2-column-width) and (max-width: var.$main-width + $-required-2-column-width) {
  // main area の縮小 (2カラムは維持)
  .l-main-width,
  .l-main-wrapper {
    width: calc(100vw - #{$-required-2-column-width});
  }
}

@media screen and (max-width: (var.$main-min-width + $-required-2-column-width)) {
  // 1カラムレイアウトへ
  .l-main-width,
  .l-main-wrapper {
    margin: 0;
    width: var.$main-width;
  }
  .l-sidebar-container {
    display: none;
  }
}

@media screen and (max-width: var.$main-width + 2 * var.$page-x-padding) {
  // 1カラムレイアウト & main area の縮小
  .l-page-container {
    padding: 0;
  }
  .l-main-wrapper {
    padding: 25px 0;
  }
  .l-main-width,
  .l-main-wrapper {
    width: 100vw;
  }
}
