@use "sass:color";
@use "sass:map";
@use "variable" as var;
@import "~prismjs/themes/prism-okaidia";

// article
.m-article-body {
  h2 {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem 0.5rem;
    margin: 1.8rem 0;
    border-block-end: solid 2px var.$theme-reverse-color;
  }
  h3 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 1.5rem 0;
    padding: 0.5rem 0 0.5rem 0.8rem;
    border-inline-start: solid 8px var.$theme-strong-color;
  }
  h4 {
    font-size: 1.3rem;
    line-height: 1.8rem;
    margin: 1.2rem 0;
  }
  a {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      z-index: map.get(var.$z-index-weights, "sm");
      background-color: var.$link-color;
      opacity: 0.2;
      transition: 0.2s;
    }
    &:hover {
      &::before {
        width: 100%;
      }
    }

    img {
      z-index: map.get(var.$z-index-weights, "md");
    }
  }
  p {
    font-size: 1rem;
    line-height: 2.2rem;
    margin: 15px 0;
  }
  img,
  ul,
  ol,
  table,
  blockquote {
    margin: 25px 5px;
  }
  ul,
  ol {
    li {
      margin: 5px 25px;
      & > p,
      ul,
      ol {
        line-height: 1.5;
        margin: 0;
      }
    }
  }
  table {
    border-collapse: collapse;
    box-shadow: 0 0 8px 1px var.$theme-weak-color;
    th,
    td {
      border: solid 1px var.$theme-reverse-color;
      padding: 0.5rem 1rem;
      font-weight: 400;
    }
    th {
      background-color: var.$theme-strong-color;
      color: var.$text-color;
    }
  }
  img[src*="gif"] {
    filter: none;
  }
  blockquote {
    $-quote-color: color.scale(var.$text-color, $lightness: 50%);

    border-inline-start: solid 4px color.scale($-quote-color, $lightness: 45%);
    margin: 1rem 0;
    p {
      margin: 0 0 0 1.2rem;
      line-height: 2rem;
      color: $-quote-color;
    }
  }
  // for `example`
  :not(pre) > code {
    background: var.$theme-color;
    height: 100%;
    font-size: 1.1rem;
    padding: 0.3rem 0.4rem;
    border-radius: 3px;
  }
  hr {
    display: block;
    background-color: var.$theme-color;
    height: 2px;
    border: none;
    margin: 1.2rem 0;
  }
  .anchor {
    &,
    &:hover {
      display: none !important;
    }
  }
}

// prismjs
pre[class*="language-"] {
  .token,
  code {
    font-family: var.$code-fonts, monospace !important;
    font-size: 0.9rem !important;
    font-weight: 100;
  }
}
