@use "sass:color";
// color
// base color
$black: #303030 !default;
$black-weak: #707070 !default;
$black-thin: transparentize($black, $amount: 0.8) !default;
$white: #fafafa !default;
$white-weak: #eaedf2 !default;
$green: #64dd17 !default;
$skyblue: #00b0ff !default;
$blue: #4554df !default;
// color
// $theme-color: color.scale($black, $lightness: 20%) !default;
$theme-color: #21242d !default;
$theme-reverse-color: $white-weak !default;
$theme-strong-color: color.scale($theme-color, $lightness: -30%) !default;
$theme-weak-color: color.scale($theme-color, $lightness: 10%) !default;
// $bg-color: $theme-color !default;
$text-color: $theme-reverse-color !default;
$link-color: $skyblue !default;
$success-color: $green !default;
// font
$code-fonts: "Hack Nerd Font", "SourceHanCodeJP-Regular", "Cica", "Migu 1M",
  "Ricty Diminished" !default;
// layout
$header-height: 60px !default;
$footer-height: 150px !default;
$main-width: 850px;
$main-min-width: 700px;
$sidebar-width: 300px;
$page-x-padding: 20px;
$space-between-main-side: 30px;
$smartphone-breakpoint: 500px;
// z-index
$z-index-weights: (
  "sm": 10,
  "md": 20,
  "lg": 30,
  "xl": 40,
  "infty": 9999,
) !default;
