@use "sass:color";
// color
// base color
$black: #303030 !default;
$black-weak: #707070 !default;
$black-thin: transparentize($black, $amount: 0.8) !default;
$white: #fafafa !default;
$white-weak: #eaedf2 !default;
$green: #64dd17 !default;
$skyblue: #00b0ff !default;
$blue: #4554df !default;
// color
// $theme-color: color.scale($black, $lightness: 20%) !default;
$theme-color: $blue !default;
$theme-text-color: #fff;
$bg-color: $white-weak;
$text-color: $black !default;
$link-color: $skyblue !default;
$success-color: $green !default;
// font
$code-fonts: "Hack Nerd Font", "SourceHanCodeJP-Regular", "Cica", "Migu 1M",
  "Ricty Diminished" !default;
// layout
$header-height: 60px !default;
$footer-height: 150px !default;
// z-index
$z-index-weights: (
  "sm": 10,
  "md": 20,
  "lg": 30,
  "xl": 40,
  "infty": 9999,
) !default;
