@use "sass:color";
// color
// base color
$black: #303030 !default;
$black-weak: #707070 !default;
$black-thin: transparentize($black, $amount: 0.8) !default;
$white: #fafafa !default;
$white-weak: #eaedf2 !default;
$green: #64dd17 !default;
$skyblue: #00b0ff !default;
// color
$theme-color: color.scale($black, $lightness: 20%) !default;
$theme-text-color: $white;
$bg-color: $white-weak;
$text-color: $black !default;
$link-color: $skyblue !default;
$success-color: $green !default;
