@use "@styles/global" as g;
$-header-height: 150px;
$-footer-height: 150px;
$-search-field-height: 30px;
$-search-field-width: 250px;
.header {
  height: $-header-height;
  background-color: g.$theme-color;
  color: g.$theme-text-color;
  display: grid;
  grid-template:
    "title title" $-header-height * 0.7
    "nav search" 1fr;
  grid-template-columns: 1fr $-search-field-width;

  .header-title {
    grid-area: title;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-nav {
    grid-area: nav;
    padding: 0 100px;
  }

  .header-search {
    grid-area: search;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }
}

.content {
  min-height: calc(100vh - (#{$-header-height} + #{$-footer-height}));
  background-color: g.$bg-color;
}

.footer {
  height: $-footer-height;
  width: 100%;
  background-color: g.$theme-color;
  color: g.$theme-text-color;
}

// components
.nav-link-list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  a[aria-current="page"] {
    font-weight: bold;
  }
}

$-search-field-height: 30px;
.searchField {
  border-radius: 10px;
  padding: 5px 10px;
  height: $-search-field-height;
  width: $-search-field-width;
}

.searchResultList {
  list-style: none;
  position: fixed;
  top: $-header-height;
  right: 0;
  background: g.$black;
}
