@use "@styles/global" as g;
$-header-height: 150px;
$-footer-height: 150px;

.headerWrapper {
  height: $-header-height;
}

.contentWrapper {
  min-height: calc(100vh - (#{$-header-height} + #{$-footer-height}));
  background-color: g.$bg-color;
}

.footerWrapper {
  height: $-footer-height;
}

.headerWrapper,
.contentContainer,
.footerWrapper {
  width: 100%;
}
