@use "sass:map";
@use "@styles/global" as g;

.headerWrapper {
  height: g.$header-height;
  position: sticky;
  top: 0;
  left: 0;
  z-index: map.get(g.$z-index-weighs, "lg");
}

.contentWrapper {
  min-height: calc(100vh - (#{g.$header-height} + #{g.$footer-height}));
  background-color: g.$bg-color;
}

.footerWrapper {
  height: g.$footer-height;
}

.headerWrapper,
.contentContainer,
.footerWrapper {
  width: 100%;
}
