@use "sass:color";
@use "~/styles/_variable.scss" as var;

$-input-width: 85%;

.searchForm {
  width: 100%;
  border-bottom: solid 1px var.$black-weak;
  padding: 0 0 10px 0;
  margin: 0 0 20px 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.searchInput {
  width: $-input-width;
  text-indent: 10px;
  border: none;
  outline: none;
}

.searchButton {
  width: 100% - $-input-width;
  border: none;
}

.searchForm,
.searchButton,
.searchInput {
  color: var.$black-weak;
  background: inherit;
}

.tagFilterDropdown {
  outline: none;
  cursor: pointer;
}
