@use "@styles/global" as g;

.article {
  display: grid;
  grid-template: "image description" 1fr;
  grid-template-columns: 250px 1fr;
  height: 250px;
  width: 100%;
  margin: 10px 0;
}

.image {
  grid-area: image;
}

.info-container {
  grid-area: description;
  width: calc(100% - 250px);
  // style
  color: g.$text-color;
  text-decoration: none;
}
