@use "sass:color";
@use "@styles/global/" as g;

.tag {
  margin: 5px;
  padding: 4px 12px;
  // style
  border-radius: 15px;
  background-color: g.$theme-color;
  color: g.$theme-text-color;
  font-size: 0.8rem;
  // animation
  transition: 300ms ease;
}

.tag-link {
  &:hover > .tag {
    background-color: g.$link-color;
  }
}
