.blogPostListTitle {
  padding-left: 30px;
}

.blogPostList {
  list-style: none;
  overflow-x: scroll;
  white-space: nowrap;
}

$-image-height: 200px;
$-image-width: 300px;

.preview {
  display: inline-block;
  width: $-image-width;
}

.blogPostLink {
  display: grid;
  grid-template:
    "image" $-image-height
    "info" 120px / 1fr;
  width: $-image-width;
  margin: 20px 10px;
}

.imageWrapper {
  grid-area: image;
  position: relative;
  overflow: hidden;

  .tagList {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.infoContainer {
  grid-area: info;
  padding: 5px 8px;

  .title {
    font-size: 1.2rem;
  }
}
