@use "@styles/global/" as g;

.categoryList {
  list-style: none;
  display: flex;
  flex-direction: column;
  color: g.$text-color;

  li + li {
    margin-top: 10px;
  }

  .category {
    margin-left: 20px;

    &:hover {
      color: g.$link-color;
    }
  }
}
