@use "@styles/global/" as g;

.navLinkList {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;

  a[aria-current="page"] {
    font-weight: bold;
  }
}

.navLink {
  margin: 0 0 0 20px;
  position: relative;

  &::after {
    transition: 400ms;
    display: inline-block;
    position: absolute;
    top: 110%;
    left: 0;
    height: 2px;
    background: g.$white-weak;
    border-radius: 5px;
    width: 0%;
    content: "";
  }

  &:hover {
    &::after {
      width: 100%;
    }
  }
}
