@use "../../global-styles/global/" as g;

.bio {
  width: 100%;
}

.bio-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  font-weight: 400;
  font-size: 1.2rem;
}

.description {
  font-size: 0.9rem;
}
