@use "~/styles/_variable.scss" as var;

.bio {
  width: 100%;
}

.bioImageWrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    border: solid 1px var.$theme-reverse-color;
    border-radius: 50%;
    overflow: hidden;
  }
}

.name {
  font-weight: 400;
  font-size: 1.2rem;
}

.description {
  font-size: 0.9rem;
}
